<template #titleTemplate let-text="title">
    <h4 class="p-a-1 bg-success">{{text}}</h4>
</template>

<template [ngTemplateOutlet]="titleTemplate"
        [ngOutletContext]="{title: 'Header'}"></template>

<div class="bg-info p-a-1 m-a-1">
    There are {{getProductCount()}} products.
</div>

<template [ngTemplateOutlet]="titleTemplate"
        [ngOutletContext]="{title: 'Footer'}"></template>

<div class="bg-info p-a-1">
    The rounded price is {{getProduct(1).price}}
</div>

<!-- <div class="bg-info p-a-1">
    There are {{getProductCount()}} products.
</div>

<table class="table table-sm table-bordered m-t-1">
    <tr><th></th><th>Name</th><th>Category</th><th>Price</th></tr>
    <tr *ngFor="let item of getProducts(); let i = index; let odd = odd;
            let first = first; let last = last; trackBy:getKey"
            [class.bg-primary]="odd" [class.bg-info]="!odd"
            [class.bg-warning]="first || last">
        <td>{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.category}}</td>
        <td *ngIf="!last">{{item.price}}</td>
    </tr>
</table> -->